services:
  wordpress:
    image: tranthethang/calm-canvas-wordpress:6.9.0-php8.1-apache
    restart: unless-stopped
    environment:
      WORDPRESS_DB_HOST: ${WORDPRESS_DB_HOST}
      WORDPRESS_DB_USER: ${WORDPRESS_DB_USER}
      WORDPRESS_DB_PASSWORD: ${WORDPRESS_DB_PASSWORD}
      WORDPRESS_DB_NAME: ${WORDPRESS_DB_NAME}
      WORDPRESS_DEBUG: ${WORDPRESS_DEBUG}
      WORDPRESS_DB_CHARSET: ${WORDPRESS_DB_CHARSET}
      WORDPRESS_DB_COLLATE: ${WORDPRESS_DB_COLLATE:-utf8mb4_unicode_ci}
      WORDPRESS_TABLE_PREFIX: ${WORDPRESS_TABLE_PREFIX}

    ports:
      - "${WP_PORT}:80"

    volumes:
      - wordpress_data:/var/www/html
      - ./docker/snapshot:/tmp/snapshot
      - ./plugins/wp-bomb:/var/www/html/wp-content/plugins/wp-bomb
      - ./theme-name:/var/www/html/wp-content/themes/theme-name
      - ./docker/config/override.ini:/usr/local/etc/php/conf.d/override.ini
    networks:
      - dev_tools

    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"

  cli:
    image: wordpress:cli-2.10.0
    user: www-data
    command: tail -f /dev/null
    restart: unless-stopped
    volumes:
      - wordpress_data:/var/www/html
      - ./docker/snapshot:/tmp/snapshot
      - ./plugins/wp-bomb:/var/www/html/wp-content/plugins/wp-bomb
      - ./theme-name:/var/www/html/wp-content/themes/theme-name
      - ./docker/config/override.ini:/usr/local/etc/php/conf.d/override.ini
    environment:
      WORDPRESS_DB_HOST: ${WORDPRESS_DB_HOST}
      WORDPRESS_DB_USER: ${WORDPRESS_DB_USER}
      WORDPRESS_DB_PASSWORD: ${WORDPRESS_DB_PASSWORD}
      WORDPRESS_DB_NAME: ${WORDPRESS_DB_NAME}
    depends_on:
      - wordpress
    networks:
      - dev_tools

    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"

networks:
  dev_tools:
    external: true

volumes:
  wordpress_data:
